################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/.vs
/CitySearch/bin/Debug/net8.0
/CitySearch/obj
/CitySearchTests/bin
/CitySearchTests/obj
