################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/CitySearch/bin/Debug/net8.0/CityFinder.deps.json
/CitySearch/bin/Debug/net8.0/CityFinder.exe
/CitySearch/bin/Debug/net8.0/CityFinder.pdb
/CitySearch/bin/Debug/net8.0/CityFinder.runtimeconfig.json
/CitySearch/bin/Debug/net8.0/CitySearch.deps.json
/CitySearch/bin/Debug/net8.0/CitySearch.exe
/CitySearch/bin/Debug/net8.0/CitySearch.pdb
/CitySearch/bin/Debug/net8.0/CitySearch.runtimeconfig.json
/.vs/CitySearch/v17/.wsuo
/.vs/CitySearch/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CitySearch/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CitySearch/obj/Debug/net8.0/apphost.exe
/CitySearch/obj/Debug/net8.0/CityFinder.AssemblyInfo.cs
/CitySearch/obj/Debug/net8.0/CityFinder.AssemblyInfoInputs.cache
/CitySearch/obj/Debug/net8.0/CityFinder.assets.cache
/CitySearch/obj/Debug/net8.0/CityFinder.csproj.BuildWithSkipAnalyzers
/CitySearch/obj/Debug/net8.0/CityFinder.csproj.CoreCompileInputs.cache
/CitySearch/obj/Debug/net8.0/CityFinder.csproj.FileListAbsolute.txt
/CitySearch/obj/Debug/net8.0/CityFinder.GeneratedMSBuildEditorConfig.editorconfig
/CitySearch/obj/Debug/net8.0/CityFinder.genruntimeconfig.cache
/CitySearch/obj/Debug/net8.0/CityFinder.GlobalUsings.g.cs
/CitySearch/obj/Debug/net8.0/CityFinder.pdb
/CitySearch/obj/Debug/net8.0/CityLookup.AssemblyInfo.cs
/CitySearch/obj/Debug/net8.0/CityLookup.AssemblyInfoInputs.cache
/CitySearch/obj/Debug/net8.0/CityLookup.assets.cache
/CitySearch/obj/Debug/net8.0/CityLookup.GeneratedMSBuildEditorConfig.editorconfig
/CitySearch/obj/Debug/net8.0/CityLookup.GlobalUsings.g.cs
/CitySearch/obj/Debug/net8.0/CitySearch.AssemblyInfo.cs
/CitySearch/obj/Debug/net8.0/CitySearch.AssemblyInfoInputs.cache
/CitySearch/obj/Debug/net8.0/CitySearch.assets.cache
/CitySearch/obj/Debug/net8.0/CitySearch.csproj.BuildWithSkipAnalyzers
/CitySearch/obj/Debug/net8.0/CitySearch.csproj.CoreCompileInputs.cache
/CitySearch/obj/Debug/net8.0/CitySearch.csproj.FileListAbsolute.txt
/CitySearch/obj/Debug/net8.0/CitySearch.GeneratedMSBuildEditorConfig.editorconfig
/CitySearch/obj/Debug/net8.0/CitySearch.genruntimeconfig.cache
/CitySearch/obj/Debug/net8.0/CitySearch.GlobalUsings.g.cs
/CitySearch/obj/Debug/net8.0/CitySearch.pdb
/CitySearch/obj/CityFinder.csproj.nuget.dgspec.json
/CitySearch/obj/CityFinder.csproj.nuget.g.props
/CitySearch/obj/CityFinder.csproj.nuget.g.targets
/CitySearch/obj/CityLookup.csproj.nuget.dgspec.json
/CitySearch/obj/CityLookup.csproj.nuget.g.props
/CitySearch/obj/CityLookup.csproj.nuget.g.targets
/CitySearch/obj/CitySearch.csproj.nuget.dgspec.json
/CitySearch/obj/CitySearch.csproj.nuget.g.props
/CitySearch/obj/CitySearch.csproj.nuget.g.targets
/CitySearch/obj/project.assets.json
/CitySearch/obj/project.nuget.cache
/CitySearch/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CitySearch/obj/Release/net8.0/CitySearch.AssemblyInfo.cs
/CitySearch/obj/Release/net8.0/CitySearch.AssemblyInfoInputs.cache
/CitySearch/obj/Release/net8.0/CitySearch.assets.cache
/CitySearch/obj/Release/net8.0/CitySearch.GeneratedMSBuildEditorConfig.editorconfig
/CitySearch/obj/Release/net8.0/CitySearch.GlobalUsings.g.cs
/CitySearchTests/bin/Debug/net8.0/CitySearch.deps.json
/CitySearchTests/bin/Debug/net8.0/CitySearch.exe
/CitySearchTests/bin/Debug/net8.0/CitySearch.pdb
/CitySearchTests/bin/Debug/net8.0/CitySearch.runtimeconfig.json
/CitySearchTests/bin/Debug/net8.0/CitySearchTests.deps.json
/CitySearchTests/bin/Debug/net8.0/CitySearchTests.pdb
/CitySearchTests/bin/Debug/net8.0/CitySearchTests.runtimeconfig.json
/CitySearchTests/bin/Debug/net8.0/CoverletSourceRootsMapping_CitySearchTests
/CitySearchTests/bin/Debug/net8.0/NUnit3.TestAdapter.pdb
/CitySearchTests/bin/Debug/net8.0/nunit_random_seed.tmp
/CitySearchTests/bin/Debug/net8.0/testhost.exe
/CitySearchTests/obj/CitySearchTests.csproj.nuget.dgspec.json
/CitySearchTests/obj/CitySearchTests.csproj.nuget.g.props
/CitySearchTests/obj/CitySearchTests.csproj.nuget.g.targets
/CitySearchTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CitySearchTests/obj/Debug/net8.0/CitySear.0F7EB0FA.Up2Date
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.AssemblyInfo.cs
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.AssemblyInfoInputs.cache
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.assets.cache
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.csproj.AssemblyReference.cache
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.csproj.BuildWithSkipAnalyzers
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.csproj.CoreCompileInputs.cache
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.csproj.FileListAbsolute.txt
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.GeneratedMSBuildEditorConfig.editorconfig
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.genruntimeconfig.cache
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.GlobalUsings.g.cs
/CitySearchTests/obj/Debug/net8.0/CitySearchTests.pdb
/CitySearchTests/obj/project.assets.json
/CitySearchTests/obj/project.nuget.cache
/CitySearchTests/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CitySearchTests/obj/Release/net8.0/CitySearchTests.AssemblyInfo.cs
/CitySearchTests/obj/Release/net8.0/CitySearchTests.AssemblyInfoInputs.cache
/CitySearchTests/obj/Release/net8.0/CitySearchTests.assets.cache
/CitySearchTests/obj/Release/net8.0/CitySearchTests.csproj.AssemblyReference.cache
/CitySearchTests/obj/Release/net8.0/CitySearchTests.GeneratedMSBuildEditorConfig.editorconfig
/CitySearchTests/obj/Release/net8.0/CitySearchTests.GlobalUsings.g.cs
